<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954862674831-475qr8m76jtrsjej7kukb6s263ng0rcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954862674831-475qr8m76jtrsjej7kukb6s263ng0rcb</string>
	<key>API_KEY</key>
	<string>AIzaSyCkpPDjzDo7770W3BsCY1Ei8Zo34JBiTRg</string>
	<key>GCM_SENDER_ID</key>
	<string>954862674831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoping</string>
	<key>PROJECT_ID</key>
	<string>shopping-f41b1</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-f41b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954862674831:ios:b3261e319c691b49fd61fa</string>
</dict>
</plist>